body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    color: #e35454;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}


.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 10px;
}

.slideshow {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.header_img {
    margin-top: 60px;
}
.header_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.slide {   
    flex: 0 0 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide img {
    width: 70%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
  
p {
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
